.coming-soon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Chiều cao toàn trang */
  background-color: #f3f4f6; /* Màu nền nhạt */
}

.coming-soon-image {
  width: 80vh;
  height: 80vh;
}
